[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target
[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/woxsen_mart_final
ExecStart=/home/ubuntu/env/bin/gunicorn --access-logfile - --workers 3 --bind unix:/home/ubuntu/woxsen_mart_final/BS/BS.sock BS.wsgi:application

       
[Install]
WantedBy=multi-user.target